{% extends 'base.html' %}
{% block title %}Создание поста{% endblock %}
{% block content %}

<div class="container">
  <h1>Создание статьи</h1>


<!--{% for cat, msg in get_flashed_messages(True) %}-->
<!--<div class="flash {{cat}}">{{msg}}</div>-->
<!--{% endfor %}-->


  <form method="post">
    <input type="text" name="title" id="title" class="form-control" placeholder="Введите название" ><br>
    <textarea name="intro" id="intro" class="form-control" > </textarea> <br>
    <textarea name="text" id="text" class="form-control" > </textarea> <br>
    <input type="submit" class="btn btn-success" value="Отправить">
  </form>
</div>
{% endblock %}